#zmmtg-root {
    span {
        color: white !important;
    }
    .media-preview-icon-mic-option {
        background-position: -272px -96px;
    }
    #wc-container-right {
        span {
            color: black !important;
        }
    }
    .chat-item__left-container > span {
        margin-right: 15px;
    }
    button {
        &[aria-expanded='true'] + ul{
            display: block !important;
            z-index: 1200 !important;
            li a {
                padding: 0 35px;
                font-size: 14px;
                white-space: nowrap;
            }
        }
    }
    .window-merge-disabled {
        display: none !important;
    }
}
@media(max-width: 768px) {
    .ReactModalPortal {
        .window-merge-disabled {
            display: none !important;
        }
        .window-close {
            transform: scale(2);
        }
        #chat-window,
        #participant-window {
            width: 95vw !important;
            height: 80vh  !important;
        }
        .participants-section-container__participants-footer-bottom {
            display: none !important;
        }
    }
    #zmmtg-root { 
        .more-button .dropdown-menu {
            left: auto;
            right: 0;
        }
    }
    .participants-li {
        padding: 13px 10px 13px 8px;
    }
    
}
